// fonts
$font-family:
  Brandon Text,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  Helvetica Neue,
  sans-serif !default;

// colors
$color-main: #4f5d75 !default;
$color-accent-dark: #2d3142 !default;
$color-accent-light: #bfc0c0 !default;
$color-light: #ffffff !default;
$color-action: #ef8354 !default;

// breakpoints
$media-breakpoint: 641px !default;

// paddings
$padding-header-mobile: 80px 0 0;
$padding-header-web: 120px 0 0;
