.notFound {
  font-family: monospace;
  margin: 20px;

  .header {
    margin: 0;
    font-size: 32px;
  }

  .paragraph {
    margin: 0;
    font-size: 24px;
  }

  .goBack {
    margin: 0;
    font-size: 24px;
    color: #a6e7ff;
    text-decoration: none;

    &:hover {
      color: #5ed6ff;
    }
  }
}