@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  height: 45px;
  background-color: $color-light;
  border-top: 1px solid $color-accent-light;

  @include respond-to(web) {
    height: 60px;
    font-size: 16px;
  }

  .info {
    a {
      color: $color-action;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .logos {
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      width: 30px;
      height: 30px;
      margin: 0 15px;
    }
  }
}
