// colors
$color-main: #4F5D75 !default;
$color-accent-dark: #2D3142 !default;
$color-accent-light: #BFC0C0 !default;
$color-light: #FFFFFF !default;
$color-action: #47B4E7 !default;

// breakpoints
$media-breakpoint: 641px !default;